<div class="body"></div>
		<div class="grad"></div>
		<div class="header">
			<div>Pay<span>Up</span></div>
		</div>
		<br>
		<div class="login">
				<h4>Click Below to Login with 
				<br><br><a href="https://api.venmo.com/v1/oauth/authorize?client_id=1917&scope=make_payments%20access_profile%20access_email%20access_phone%20access_friends%20access_balance&response_type=code"><%= image_tag 'logowhite.png', width: '160px', border_radius: '20px #000000' %></a> 
		</div>
	</div>